-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%h1
  = t('.set_up', :name => first_name_or_username(current_user))
  .description
    = t('.more_fun')
= render :partial => 'shared/invitations', :locals => {:invites => @invites, :remote => true} 

.submit_block
  = link_to "#{t('.finish')} →", root_url, :class => "button"

