-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%ul.stream.notifications
  - @group_days.each do |day, notes|
    %li
      .stream_marker
        = day

      .notifications_for_day
        - notes.each do |note|
          .stream_element{:data=>{:guid => note.id}, :class => "#{note.unread ? 'unread' : ''}"}

            = person_image_tag note.person

            .content
              .from
                = link_to "#{note.person.name.titleize}", person_path(note.person)
                = object_link(note)

  = will_paginate @notifications
