-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

!!!
%html{:lang => I18n.locale.to_s}
  %head
    %title
      = "#{current_user.name} | diaspora" if current_user

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    %link{:rel => 'apple-touch-icon', :href => '/apple-touch-icon.png'}

    = include_javascripts :mobile
    = stylesheet_link_tag 'vendor/jquery_mobile.min', 'mobile'
    = csrf_meta_tag

    :javascript
      $(document).ready(Mobile.initialize);

    = yield(:head)

  %body
    %div{:data => {:role => 'page'}}
      %div{:data => {:role => 'header', :nobackbtn => 'true'}}
        %h1
          DIASPORA*

        - if current_user
          %div{:data => {:role => "navbar"}}
            %ul
              %li
                = link_to "Home" , root_path
              %li
                = link_to "Profile" , current_user.person
              %li
                = link_to "Contacts" , people_path
              %li
                = link_to "Notifications" , notifications_path

      = yield

      %div{:data => {:role => 'footer', :nobackbtn => 'true'}}
        = link_to 'logout', destroy_user_session_path
